.Xil/
vivado*.jou
vivado*.log
vivado_*.backup.*
vivado_led_chaser/
vivado_nexys4ddr/
*.vvp
*.pb
*.wdb
.DS_Store
._*
vivado_soc*/
vivado_*/
build/
scripts/__pycache__/
xsim.dir
webtalk*
xsim*
xelab*
xvlog*
